.project_container{
    color: black;
    width: 100%;
    clear: both;
    overflow: auto;
    height: auto;
    display: block;
    }
.thumb{
    height: 280px;
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    }
.item{
    width: 30%;
    float: left;
	box-shadow: 0 0.05em 0.15em 0 rgba(0,0,0,0.05);
	margin-bottom: 40px; background-color: #FFF;
  	-moz-transition: all 0.3s;
  	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin: 1%;
    .label{
        padding: 20px 0px 20px 0px;
        font-size: 1.2em;
        }
    title{
        background: #fff;
        margin: 0;
        padding: 1em 0 1em 0;
        }
    &:hover {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        }
}
.item_future_project{
    width: 30%;
    float: left;
    margin: 1%;
    height: 340px;
    font-size: 2.5em;
    font-weight: bolder;
    color: #c8c8d5;
    border: dashed;
    p{
        padding-top: 25%;
    }
    
}

/* --- project content ---- */
.project-detail-container{
    max-width: 1000px; 
    margin: 0 auto; 
    font-size: 1.2em;
    text-align: left;
    margin-top: 150px;
    h2{
        font-size: 2em; 
        font-weight: 300; 
        margin: 0; padding: 0;
        margin-bottom: 40px; 
        color: #6e6d97;
        text-align: center !important;
    }
    p{
        margin-bottom: .2em;
        }
    .project-detail{
        margin: 0 auto;
        width:100%;
        max-width: 1200px;
        }
      .detail-row{
        width: 100%;
        clear: both;
        display: table;
        padding: 1% 0%à¸§
        }
      .detail-title  {
        width:20%;
        font-weight: 300;
        font-size: 1.1em;
        color: #6e6d97;
        display: table-cell;
        vertical-align: top;
      }
      .detail-content{
        width:78%;
        font-weight: 300;
        font-size: 1.1em;
        color: black;
        display: table-cell;
        vertical-align: top;
        P{margin-top: 0;}
         }
      img.detail_image {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        border: none;
        padding: 0 0 20px;
      }
      .primary_btn{
        padding: 5px 10px;
        color: #fff;
        background-color: #a2a2b3;
        min-width: 80px;
        width: auto;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px; 
        vertical-align: middle;
        font-size: .6em;
        text-align: center;
        margin-right: 5px !important;
        &:hover {
            background-color: lighten(#6e6d97, 5%);
            }
        a{
            width: 100%;
            height: 100%;
            padding: 6px;
            margin: 0px;
            color: inherit;
            text-decoration: none;
            }
      }
}
.sub_nav{
    width: 100%;
    height: 40px;
    overflow: auto;
    background-color: #dfdfe6;
    position: fixed;
    top: 73px;
    text-align: center;
    padding-top: 10px;
    h2{
        font-size: 2em; 
        margin-top: 10px;
        color: rgb(101, 101, 101);
        font-weight: 300;
    }
    nav{
        width: auto;
        max-width: 300px;
        margin: 0 auto;
    }
    svg{
        color: #a2a2b3;
        &:hover{
            color: lighten(#6e6d97, 5%);
        }
    }
    a:first-child {
        float: left;
    }
    a:last-child {
        float: right;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 601px) {
        /* Medium mobile View */
    .item{
        width: 47%;
        margin: 1%;
    }
    .sub_nav {
        width: 100%;
        position: fixed;
        top: 67px;
    }
    .project-detail-container{
        width: 90%;
        margin-top: 120px;
        h2{margin-bottom:20px;}
        .detail-title {width: 23%;}
    }
    .item_future_project{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    /* small mobile View */
    .item{
        width: 100%;
        margin-bottom: 5%;
        .label{padding-bottom: 20px; padding-top: 0px;}
    }
    .sub_nav{
        top: 56px;
    }
    .project-detail-container{
        width: 90%;
        margin-top: 120px;
        h2{margin-bottom:20px;}
        .detail-content{font-size: 1em;}
        .detail-title {width: 24%;}
        .detail-content{ width:75%;}
    }
    .item_future_project{
        display: none;
    }
}






