.subpage_header {
    width: 100%;
    padding:.5% 0%;
    background-color: #fff;
    font-weight: 300;
    position: fixed;
    top:0px;
    header{
        width: auto;
        max-width: 1000px;
        margin: 0 auto;
        }
    .avatar{
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background-image: url("../images/my_photo.jpg"); 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100%;
        float: left;
        }	
    .title{
        width: 60%;
        float: left;
        }
    h1{
        font-size: 1.8em;
        margin: 0px 0px 0px 15px;
        }
    h2{
        font-size: 1.2em;
        margin: 0px 0px 0px 17px;
        color: gray;
        font-weight: inherit;
        }
   .secondary_btn{
        padding: 10px;
        color: #fff;
        background-color:#6e6d97;
        min-width: 80px;
        width: auto;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px; 
        vertical-align: baseline;
        font-size: .8em;
        text-align: center;
        float: right;
        margin-top: 10px;
        margin-right:10px;
        &:hover {
            background-color: lighten(#6e6d97, 5%);
            }
        a{
            width: 100%;
            height: 100%;
            padding: 12px;
            margin: 0px;
            color: inherit;
            text-decoration: none;
            }
        }   
}

@media only screen and (max-width: 1400px) and (min-width: 601px) {
    /* Medium mobile View */
    .subpage_header{
        padding:.5% 0%;
    }
    
}
@media screen and (max-width: 600px){
    /* small mobile View */
    .subpage_header {
        height: auto;
        header{
            overflow: hidden;
        }
        .avatar{
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-left:15px;
            margin: 8px 12px ;
        }
        .title {
                // width: 50%;
                // float: left;
                display:none;
            }

    }
}

