.header {
    width: 100%;
    padding: 4% 0;
    margin: 0 auto;
    width: auto;
    text-align: center;
    background-color: #fff;
    font-weight: 300;
   h1{
    font-size: 2.5em;
    margin: 1% 0% 0% 0%;
   }
   h2{
    font-size: 1.7em;
    margin-top: 0px;
    margin-bottom: 10px;
    color: gray;
    font-weight: inherit;
   }
   h3{
    font-size: 1.2em;
    color:#6e6d97;
    margin-top:0;
   }
   p{
    font-size: 1.2em;
   line-height: 1.5em;
   }
    ul.top_nav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-align: right;
        li{float: right;}
        li a {
            display: block;
            text-align: right;
            padding: 12px 14px;
            text-decoration: none;
        }
    }
}
.secondary_btn{
    padding: 12px;
    color: #fff;
    background-color:#6e6d97;
    min-width: 100px;
    width: auto;
    margin:0 .25% ;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px; 
    vertical-align: baseline;
    font-size: .8em;
    &:hover {
        background-color: lighten(#6e6d97, 5%);
    }
    a{
        width: 100%;
        height: 100%;
        padding: 12px;
        margin: 0px;
        color: inherit;
        text-decoration: none;
    }
}
.avatar{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background-image: url("../images/my_photo2.jpg"); 
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}	
.intro{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;

}

@media only screen and (max-width: 1400px) and (min-width: 601px) {
    /* Medium mobile View */
    .intro{
        width: 80%;
    }
}
@media screen and (max-width: 600px){
    /* small mobile View */
    .header{
        padding-bottom: 10%;
        h1{
            font-size: 2em;
           }
           h2{
            font-size: 1.2em;
           }
    }
    .intro{
        width: 80%;
    }
    .avatar{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }	
}

