.footer{
    flex: 0 0 58px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    width:100%;
    background-color: #6e6d97;
    height: auto;
    min-height: 20%;
    padding: 2% 0%;
    font-weight: 300;
    h2{
        font-size: 2em; 
        margin-top: 10px;
        color:#3b3a5f;
        font-weight: inherit;
    }
    svg{
        color: lighten(#6e6d97, 20%);
    }
    a{
        color:#fff;
        padding: 1em;
    }
    .mail_me{
        font-size: 2.5em;
        margin-top: 0;
    }
    ul.menu{
        cursor: default;
        list-style: none;
        color: inherit;
    }     
    ul.menu li{
        display: inline-block;
        line-height: 1em;
        padding: 0 0 0 0.5em;
        margin: 0 0 0 0.5em;
    }         
    ul.menu li:first-child{
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 601px) {
    /* Medium mobile View */
}
@media screen and (max-width: 600px){
    /* small mobile View */
    .footer {
        padding: 5% 0%;
        .mail_me{
            font-size: 2em; 
        }
    }
}
